:root{
    --primaryTextColor : #09242a;
    --secondaryTextColor:#192e2d;
    --AccentBgColor:rgba(113, 113, 113, 0.539);
    --AccentColor:#333633;
    --AccentForeColor:#181c18;
    --head-blur:rgba(61, 60, 60, 0.4);
    --shadow: rgb(255, 255, 255);
}

.darkmode{
    --primaryTextColor : #3dfff2;
    --AccentBgColor:rgba(46, 106, 123, 0.539);
    --AccentColor:#4e9afd;
    --AccentForeColor:#91eff7;
    --head-blur:rgba(255,255,255, 0.4);
    --shadow: #181c18;
    background: url("./images/DarkBg.jpg");
    background-size: auto;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(255,255,255,0.9);
    background-image: url("./images/LightBg.jpg");
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-flow: column;
    place-content: center;
    transition: all .5s ease-in-out;
}
header{
    width:100%;
    margin-top:1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    color: var(--primaryTextColor);
    background-color: var(--head-blur);
    text-shadow: 1px 1px 3px var(--shadow),-1px -1px 3px var(--shadow);
}
#switchTheme{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    border:2px solid black;
    border-radius: 50px;
    background-color: gray;
    height: 35px;
    width: 35px;
    position: fixed;
    top:3rem;
    right: 3rem;
    transition: all 0.3s ease-in;
}

#switchTheme svg:first-child{
    display: none;
}
.darkmode #switchTheme svg:first-child{
    display:block;
}
.darkmode #switchTheme svg:last-child{
    display:none;
}
#switchTheme:hover{
    box-shadow: 3px 3px 5px var(--shadow), -3px -3px 5px var(--shadow),3px -3px 5px var(--shadow),-3px 3px 5px var(--shadow);
}
main{
    margin: 3rem;
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.hero{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    color:var(--AccentForeColor);
    text-shadow: 14px 14px 8px var(--shadow), -14px -14px 8px var(--shadow),14px -14px 8px var(--shadow),-14px 14px 8px var(--shadow);
    font-size: x-large;
    transform: rotateZ(-15deg);
}
.content{
    height: fit-content;
    padding:4rem ;
    margin: 2rem;
    border: 3px solid var(--AccentColor);
    border-radius: 10px ;
    background: var(--head-blur);
}
#task{
    font-size: x-large;
    font-weight: 600;
    font-family:'Lucida Hadnwritting';
    color:var(--secondaryTextColor);
    border: 2px solid var(--AccentColor);
    border-radius:10px; 
    padding: .3rem;
    transition: all .3s ease-in-out;
}
#task:hover{
    box-shadow: 4px 4px 6px var(--AccentForeColor);
}
#addTask{
    font-weight: 600;
    color:var(--secondaryTextColor);
    border: 2px solid var(--AccentBgColor);
    border-radius:0px 15px; 
    padding: .4rem;
    margin:.4rem;
    transition: all .3s ease-in-out;
}
#addTask:hover{
    color: var(--secondaryTextColor);
    box-shadow: 3px 3px 5px var(--AccentForeColor), -3px -3px 5px var(--AccentForeColor);
}
#todoList{
    margin:.5rem;
}
#todoList p{
    font-size: larger;
    font-weight: 700;
    font-family: Rockwell;
    padding: .4rem;
    margin:.1rem;
    border: 2px solid var(--AccentColor);
    border-radius: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease-in;
}
#todoList p.completed, p.completed button{
    text-decoration: 2px line-through;
    color: var(--AccentColor);
    background: var(--AccentBgColor);
}
#todoList button{
    padding:.2rem;
    font-weight: 900;
    text-decoration: none;
    background: transparent;
    border: 1px transparent;
}
#todoList svg{
    fill:white;
}
#todoList svg:hover{
    fill:rgb(255, 0, 0);
}


/* =========================ResponsiveNess=============================== */
@media(468px<=width<=768px){
    main{
        flex-flow:column;
        padding:1rem;
        margin:1.5rem;
    }
    .hero{
        padding: 1rem;
        font-size: large;
    }
    .content{
        padding:3.3rem;
        margin:1.5rem;
    }
}
@media(width<=467px){
    main{
        flex-flow:column;
        padding:.4rem;
        margin:.8rem;
        justify-content: space-between;
    }
    .hero{
        padding:.8rem;
        font-size:medium;
    }
    .content{
        flex-flow: column nowrap;
        padding:1.8rem 0.3rem;
        margin:3.6rem 0rem;
    }
}